@layer sections {

  .hero-group {
    display: flex;
    gap: var(--space-xl);
    max-width: 85vw;
    margin: 0 auto;
    text-align: left;
  }

  .hero-group h1 {
    margin-bottom: var(--space-xl);
  }

  .hero-group p {
    font-size: var(--font-size-2xl);
    color: var(--color-text-secondary);
    line-height: var(--line-height-relaxed);
    max-width: 45rem;
  }

  .hero-group .col-2 {
    margin-top: 20px; display: flex; 
    gap: calc(var(--space-xs)); 
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    .hero-group {
      flex-direction: column;
      text-align: center;
    }

    .hero-group h1 {
      font-size: var(--font-size-hero-1);
    }

    .hero-group p {
      font-size: var(--font-size-2xl);
    }
  }

}
